{% extends "employe_base.html" %}
{% load static %}
{% block title %}Ajouter au Panier{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Ajouter au Panier</h2>
    
    <div class="mb-4">
        <input type="text" id="searchInput" class="form-control" placeholder="Rechercher un produit par sa désignation...">
    </div>

    <form method="post" action="{% url 'add_to_cart' %}">
        {% csrf_token %}
        
        <div class="row" id="productList">
            {% for product in products %}
            <div class="col-md-4 mb-4 product-card">
                <div class="card h-100">
                    <div class="image-container">
                        <img src="{% static '' %}{{ product.image }}" alt="{{ product.designation }}" class="card-img-top product-image" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.designation }}</h5>
                        <p class="card-text">Quantité Disponible: {{ product.quantite }}</p>
                        <div class="form-group">
                            <label for="quantity_{{ product.id }}">Quantité Commandée</label>
                            <input type="number" placeholder="0" id="quantity_{{ product.id }}" name="quantity_{{ product.id }}" min="0" max="{{ product.quantite }}" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </div>
    </form>
</div>
<style>
    .image-container {
        height: 200px;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .product-image {
        height: 100%;
        width: auto;
        object-fit: contain;
    }
    .card {
        display: flex;
        flex-direction: column;
    }
    .card-body {
        flex: 1 1 auto;
    }
</style>

<script>
    document.getElementById('searchInput').addEventListener('keyup', function() {
        const searchText = this.value.toLowerCase();
        const productCards = document.querySelectorAll('.product-card');
        
        productCards.forEach(function(card) {
            const designation = card.querySelector('.card-title').textContent.toLowerCase();
            if (designation.includes(searchText)) {
                card.style.display = '';
            } else {
                card.style.display = 'none';
            }
        });
    });
</script>

{% endblock %}
