{% extends "employe_base.html" %}

{% block title %}Ajouter Commande{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Ajouter une Commande</h2>
    <form method="post" action="{% url 'create_order' %}">
        {% csrf_token %}
        
        <!-- Désignation -->
        <div class="form-group mb-3">
            <label for="{{ form.designation.id_for_label }}" class="form-label">Désignation</label>
            {{ form.designation }}
        </div>

        <!-- Numéro de Commande -->
        <div class="form-group mb-3" hidden>
            <label for="{{ form.num_ordre.id_for_label }}" class="form-label">Numéro de Commande</label>
            {{ form.num_ordre }}
        </div>

        <!-- Produit -->
        <div class="form-group mb-3">
            <label for="{{ form.produit.id_for_label }}" class="form-label">Produit</label>
            {{ form.produit }}
        </div>

        <!-- Quantité Commandée -->
        <div class="form-group mb-3">
            <label for="{{ form.quantite_commande.id_for_label }}" class="form-label">Quantité Commandée</label>
            {{ form.quantite_commande }}
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </div>
    </form>
    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>
{% endblock %}
