{% extends "employe_base.html" %}
{% block title %}Mon hisrorique{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Historique</h2>
    <ul class="list-group">
        {% for order in orders %}
            <li class="list-group-item">
                <strong>Désignation:</strong> {{ order.designation }} <br>
                <strong>Numéro de Commande:</strong> {{ order.num_ordre }} <br>
                <strong>Quantite</strong> {{ order.quantite_commande }} <br>
                <strong>Produit:</strong> {{ order.produit.designation }} <br>
            </li>
            {% empty %}
            <div class="col-12">
                <div class="alert alert-info" role="alert">Aucune commande trouvée.</div>
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
