{% extends "magasinier_base.html" %}
{% load static %}
{% block title %}Les Produits{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Produits disponibles</h2>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static '' %}{{ product.image }}" alt="{{ product.designation }}" style="width: 100%; height: 200px; object-fit: cover;" />
                    <div class="card-body">
                        <h5 class="card-title"><strong>Désignation:</strong> {{ product.designation }}</h5>
                        <p class="card-text">
                            <strong>Quantité:</strong> {{ product.quantite }} <br>
                            <strong>Prix:</strong> {{ product.prix }} <br>
                            <strong>CMUP:</strong> {{ product.cmup }}
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-warning">Aucun produit trouvé.</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_css %}
{% endblock %}