{% extends "employe_base.html" %}
{% block title %}Mes Commandes{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Mes Commandes</h2>
    <ul class="list-group">
        {% for order in orders %}
            <li class="list-group-item">
                <strong>Désignation:</strong> {{ order.designation }} <br>
                <strong>Numéro de Commande:</strong> {{ order.num_ordre }} <br>
                <strong>Quantite:</strong> {{ order.quantite_commande }} <br>
                {% if order.quantite_commande != order.quantite_commande_avant %}
                    <b>Quantite demandée:</b> {{ order.quantite_commande_avant }}<br>
                {% endif %}
                <strong>Produit:</strong> {{ order.produit.designation }} <br>
                <strong>Validation:</strong> {{ order.validation }}
                <td>
                    {% if order.validation == 'valide' %}
                        <a href="{% url 'generate_order_pdf' order_id=order.id %}">Telecharger PDF</a>
                    {% endif %}
                </td>
            </li>
        {% empty %}
            <li class="list-group-item">Aucune commande trouvée.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
