{% extends "magasinier_base.html" %}
{% block title %}Les Commandes{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Les Commandes</h2>
    <ul class="list-group">
        {% for order in orders %}
            <li class="list-group-item">
                <strong>Désignation:</strong> {{ order.designation }} <br>
                <strong>Numéro de Commande:</strong> {{ order.num_ordre }} <br>
                <strong>Quantité:</strong> {{ order.quantite_commande }} <br>
                <strong>Produit:</strong> {{ order.produit.designation }} <br>
                <strong>Validation:</strong> {{ order.validation }} <br>

                <form method="post" action="{% url 'valider_commande' order.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Valider</button>
                </form>
                <!-- Bouton de refus -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#refuserModal{{ order.id }}">
                    Refuser
                </button>
                
                <!-- Fenêtre modale -->
                <div class="modal fade" id="refuserModal{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="refuserModalLabel{{ order.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="refuserModalLabel{{ order.id }}">Raison du refus</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <form method="post" action="{% url 'refuser_commande' order.id %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="raisonRefus{{ order.id }}">Raison :</label>
                                    <textarea class="form-control" id="raisonRefus{{ order.id }}" name="raison_refus" required></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-danger">Refuser la commande</button>
                            </div>
                        </form>                        
                    </div>
                    </div>
                </div>  
                <a href="{% url 'modifier_commande' order.id %}" class="btn btn-primary">Modifier</a> 
            </li>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info" role="alert">Aucune commande trouvée.</div>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
