{% extends 'employe_base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Passer la Commande</h2>
    
    <form method="post">
        {% csrf_token %}
        
        <div class="row">
            {% for item in cart_items %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.produit.designation }}</h5>
                        <p class="card-text">Quantité: {{ item.quantite }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Passer la Commande</button>
        </div>
    </form>
</div>
{% endblock %}
