{% extends 'employe_base.html' %}
{% block content %}
<h2>Passer la Commande</h2>
<form method="post">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.produit.designation }}</td>
                <td>{{ item.quantite }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Passer la Commande</button>
</form>
{% endblock %}
